@import '_content/F0.Minesweeper.Components/F0.Minesweeper.Components.bundle.scp.css';

/* /Shared/MainLayout.razor.rz.scp.css */
#f0-body[b-1zadvdv9za] {
	text-align: center;
	margin: auto;
	width: 50%;
}
